<header class="myheader">
  <div class="my-brand-nav">
      <%= link_to root_path, class: "logo" do %>
        Keto <span>| Gourmet</span>
      <%end %>
  </div>
  <nav class="my-nav-wrapper">
    <ul class="my-nav-list">
        <li class="nav-list__item">
          <%= link_to root_path, class: "nav-list__link" do %>
            <i class="fas fa-concierge-bell"></i> Recipes
          <% end %>
        </li>
        <li class="nav-list__item">
          <%= link_to root_path, class: "nav-list__link" do %>
          <i class="fas fa-rss"></i> Subscribe
          <% end %>
        </li>

        <% if author_signed_in? %>

          <li class="nav-list__item">
            <%= link_to author_path(current_author), class: "nav-list__link" do %>
              <i class="far fa-user"></i> <span>@<%= current_author.username %></span>
            <% end %>
          </li>

          <li class="nav-list__item">
            <%= link_to "logout", destroy_author_session_path, method: :delete,  class: "nav-list__link"%>
          </li>

        <% else %> 
          
          <li class="nav-list__item">
            <%= link_to 'Login', new_author_session_path, class: "nav-list__link"%>
          </li>

          <li class="nav-list__item">
            <%= link_to 'signup', new_author_registration_path, class: "nav-list__link"%>
          </li>

        <% end %>

    </ul>
    <div class="my-hamburger-btn">
      <div class="hamburger-btn__line"></div>
    </div>
  </nav>
</header>