<% provide(:title, 'Edit Profile') %>
<section id="author_edit">
  
  <div class="author_edit_header">
    <h1>
      Hi
      <%= link_to author_path(current_author) do %>
        @<%= current_author.username %>
      <% end %>
       !
      </h1>
    <h3>Your readers are thrilled to know more about you. Feel free to edit your biography and to add a nice profile photo.</h3>
  </div>


  <div class="author_edit_editor">
    <%= form_for [@author, @profile] do |f| %>
      <div class="author_edit_editor_wrapper">
      
          <div class="edit_biography">
            <%= f.label :bio, 'Biography:' %><br>
            <%= f.text_area :bio %>
          </div>
          <div class="edit_name_social">
          
            <i class="fas fa-globe-africa"></i>
            <i class="fas fa-at">Email</i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-twitch"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-pinterest-p"></i>
          </div>
          <div class="edit_photo">
            upload your 
          </div>
          <div class="edit_attributes">
            <%= f.label :pronouns %>
            <%= f.text_area :pronouns %><br>
            <%= f.label :title %>
            <%= f.text_area :title %><br>
            <%= f.label :speciality %>
            <%= f.text_area :speciality %><br><br>
            <%= f.submit %>
            <%= link_to 'Change your user name', edit_author_registration_path %>
            <%= link_to 'Change your password',  edit_author_password_path %>
          </div>
      </div>
    <% end %>
  </div>

</section>

<section>
  <%= form_for [@author, @profile] do |f| %>

        <%= f.label :pronouns %>
        <%= f.text_area :pronouns %><br>
        <%= f.label :speciality %>
        <%= f.text_area :speciality %>
        <br>

        <%= f.submit %>
  <% end %>
</section>

